body {
  background: blanchedalmond;
}
/* border to easily see divs*/
* {
  border: 3px solid black;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
/*making the a div span across entire page while b and c are in two columns beneath it*/
.a {
  flex-grow: 1;
  width: 100%;
}
/*making the b div larger than a and c*/
.b{
  flex-grow: 3;
  min-height: 30vh;
}

.c {
  flex-grow: 1;
}

/* media quiery rules */
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a{
    flex-direction: row;
  }
  .b {
    flex-direction: row;
  }
  .c {
    flex-direction: row;
    
  }
}