body {
  background: papayawhip;
}

* {
  border: 3px solid purple;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.a {
  flex-grow: 1;
  width: 100%;
}

.b {
  flex-grow: 2;
}

.c, .d, .e {
  flex-direction: row;
  flex-grow: 1;
}

.f {
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /*.a{
    flex-direction: row;
  }
  .b {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
  }
  .c {
    flex-direction: column;
  }
  .d {
    flex-direction: column;
  }
  .e {
    flex-direction: column;
  }
  .f {
    flex-wrap: wrap;
  }*/
}